.Background{
    /* 1024452-star-wars-bientot-un-jeu-the-mandalorian-developpe-par-respawn-entertainment 1 */

position: absolute;
width: 1440px;
height: 465px;
left: 0px;
top: 0px;

background: url(1024452-star-wars-bientot-un-jeu-the-mandalorian-developpe-par-respawn-entertainment.jpg);
}
